@import './utilities.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFC904;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.25rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 580px;
    margin: 4rem auto 0;
    padding: 0 2rem;
}

#top-badges {
    display: flex;
    width: 80%;
    margin: 2rem 0;
    gap: 1rem;
}

#link-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
}

/*
Source - https://stackoverflow.com/a/32861765
Posted by shunryu111, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-05, License - CC BY-SA 4.0
*/

body {
  background-size: 1.5rem 1.5rem;
  background-image:
    linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background:
    radial-gradient(farthest-corner at bottom left, #000, transparent 125%);
  z-index: 1;
}

main {
    position: relative;
    z-index: 2;
}